<body>
	<div class="register-form">
	<div class="thonbao">
		<h2>Chào mừng bạn đến với website đặt khám của chúng tôi</h2>
		<p>Cảm ơn bạn đã sử dụng dịch vụ đặt lịch khám bác sĩ trực tuyến.</p>
        <p>Chúng tôi cam kết cung cấp cho bạn một trải nghiệm chuyên nghiệp và đáng nhớ.</p>
	</div>
	</div>
</div>
</body>
<style>
    .register-form {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        border: 35px solid #ccc;
        border-radius: 57px;
        background-color: #f5f5f5;
      }
      
      .register-form h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      .register-form form {
        display: flex;
        flex-direction: column;
      }
      
      .register-form label {
        font-size: 16px;
        margin-bottom: 5px;
      }
     p {
        text-align: center;
      }
  
 
      
    
</style>