{% extends 'app/base.html' %}
{% load static %}
{% block main-tintuc %}
<section class="news-section">
    <div class="container">
      <h2 class="section-title">Tin tức mới nhất</h2>
      <div class="row">
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc1.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Các loại cây dược liệu quý hiếm ở Việt Nam.</h3>
            <p class="news-summary">Cây cối có nhiều loại khác nhau được ứng dụng cho nhiều mục đích, mang những giá trị khác biệt...</p>
            <a href="https://caodangykhoa.com.vn/cac-loai-cay-duoc-lieu-quy-hiem-o-viet-nam/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc2.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Sinh viên khắc phục khả năng nhớ tên thuốc bằng cách nào?</h3>
            <p class="news-summary">Học Đại học, Cao đẳng đã khó; học chuyên về bên Y hay Dược thì lại càng khó hơn...</p>
            <a href="https://caodangykhoa.com.vn/chia-se-cach-nho-ten-thuoc/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc3.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Những ứng dụng công nghệ 4.0 trong y học hiện nay.</h3>
            <p class="news-summary">Với công cuộc cách mạng công nghệ 4.0 trong y học hiện nay thì đã và đang dần dần thay đổi rất...</p>
            <a href="https://caodangykhoa.com.vn/ung-dung-cong-nghe-4-0-trong-y-khoa/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="news-section">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc4.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Dịch vụ xe cấp cứu của CẤP CỨU VÀNG có tốt không?</h3>
            <p class="news-summary">Hiện nay, trong bối cảnh dịch bệnh đang hoành hành, nhu cầu sử dụng dịch vụ cứu thương...</p>
            <a href="https://caodangykhoa.com.vn/dich-vu-xe-cap-cuu-cua-cap-cuu-vang-co-tot-khong/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc5.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Nhin ăn gián đoạn có tốt không?</h3>
            <p class="news-summary">Nhin ăn gián đoạn là một phương pháp ăn kiêng phổ biến được nhiều người ưa chuộng trong...</p>
            <a href="https://caodangykhoa.com.vn/nhin-an-gian-doan/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
        <div class="col-4">
          <div class="news-item">
            <img src="{%static 'app/images/tintuc6.jpg'%}" alt="Hình ảnh tin tức">
            <h3 class="news-title">Ngủ quá nhiều có tốt cho sức khỏe không?</h3>
            <p class="news-summary">Một giấc ngủ tốt sẽ giúp tăng cường sức khỏe và cải thiện tinh thần. Nếu không ngủ đủ giấc,...</p>
            <a href="https://caodangykhoa.com.vn/ngu-qua-nhieu-co-tot-khong/" class="read-more-link">Đọc thêm</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main-tintuc %}