{% block detail %}
{% load static %}
    {% for item in doc %}
        <div class="wrapper" data-doctor-id="{{item.id}}">
            <div class="doctor-info doc-{{item.id}}" data-doctor-id = "{{item.id}}">
                <h2>Lịch khám</h2>
                <input type="date" name="start_date" id="start_date" class = "start_date">
                <div id = "doctor-time-area" class = "doctor-{{item.id}}">
                </div>
    
    
            </div>
            <div class="appointment-info">
                <p>Địa chỉ khám: {{user.address}}</p>
                <p><a href="{% url 'patient:home' %}">Giá khám: </a></p>
                <p>Loại bảo hiểm áp dụng: </p>
            </div>
            <div style = "display:none">
                <div >
                </div>
                <a id = "doctor-time-template">
                    <div class="doctor-time">
                        <span class = "span-text"></span>
                    </div>
                </a>
            </div>
        </div>
        

    {% endfor %}
    <script src="{% static 'patient.js' %}"></script>
{% endblock%}