{% extends 'doctors/doctor_home.html' %}
{% load static %}
{% block main_content %}
    <div class = "content block-div">
        <div class = "type-choose-box d-row-flex">
            <div class = "condition-choose-box btn_active" id = "all">Tất cả</div>
            <div class = "condition-choose-box" id = "before">Đã khám</div>
            <div class = "condition-choose-box" id = "upcoming">Chưa khám</div>
        </div>

        <div id = "patient-info-wrapper" class = "d-row-flex"></div>
        <div id = "patient-info-template" class = "id-store">
            <div class="patient-info-template__header">
                <img src="" alt="" class = "patient-info__item patient-avatar">
                <span class = "patient-info__item patient-name"></span>
                <span class = "patient-info__item patient-id"></span>
                <span class = "patient-info__item age"></span>
            </div>
            <span class = "patient-info__item address"></span>
            <span class = "patient-info__item last-time"></span>
            <span class = "patient-info__item phone"></span>
            <span class = "patient-info__item email"></span>
            <span class = "patient-info__item blood-group"></span>
            <div>
                <div class="patient-info__item more-info-btn">Chi tiết</div>
                <div class="patient-info__item delete-btn">Xóa</div>
            </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'doctor/doctor_review.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}