{% extends 'doctors/doctor_home.html' %}
{% load static %}
{% block main_content %}
    <div class = "content block-div">
        {% comment %} <div class = "type-choose-box d-row-flex">
            <div class = "condition-choose-box chose" id = "all">Tất cả</div>
            <div class = "condition-choose-box chose" id = "before">Đã khám</div>
            <div class = "condition-choose-box chose" id = "upcoming">Chưa khám</div>
        </div> {% endcomment %}

        <div id = "patient-info-wrapper" class = "d-row-flex">
            Hiện tại bạn không có bệnh nhân nào
        </div>
        <div style = "display:none;">
            <div id = "patient-info-template" class = "id-store">
                <div>
                    <img src="" alt="" class = "patient-info__item patient-avatar">
                    <span class = "patient-info__item patient-name"></span>
                    <span class = "patient-info__item patient-id"></span>
                    <span class = "patient-info__item age"></span>
                </div>
                <div class = "patient-info-more d-col-flex" style = "display: none;">
                    <span>Địa chỉ: <span class = "patient-info__item patient-address"></span></span>
                    <span>Thời gian gần nhất: <span class = "patient-info__item last-time"></span></span>
                    <span>Điện thoại: <span class = "patient-info__item patient-phone"></span></span>
                    <span>Email: <span class = "patient-info__item patient-email"></span></span>
                    <span>Nhóm máu: <span class = "patient-info__item patient-blood-group"></span></span>

                </div>

                <div>
                    <div class="patient-info__item more-info-btn">Chi tiết</div>
                    <div class="patient-info__item delete-btn">Xóa</div>
                    <div style="display:none" class = "confirm-template">
                        <i class="fa-regular fa-circle-xmark hide-form"></i>
                        <span></span>
                        <div class="d-row-flex">
                            <button class = "okay-confirm">Xác nhận</button>
                            <button class = "cancle-confirm">Không</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'doctor/doctor_review.js' %}"></script>
    <script src="{% static 'doctor/doctor_my_patient.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}