{% extends 'doctor/home_page.html'%}
{% load static %}

{% block main_content %}
    <h3>Thiết lập khung giờ</h3>
    <div class="wrapper">
        <div class="show-frame">

        </div>
    </div>
    <div class = "wrapper">
        <div class="chose-time-frame">
            <div class="d-row-flex day-of-week">
                <div class="day-of-week__item" id = "monday">Thứ 2</div>
                <div class="day-of-week__item" id = "tuesday">Thứ 3</div>
                <div class="day-of-week__item" id = "wednesday">Thứ 4</div>
                <div class="day-of-week__item" id = "thursday">Thứ 5</div>
                <div class="day-of-week__item" id = "friday">Thứ 6</div>
                <div class="day-of-week__item" id = "saturday">Thứ 7</div>
                <div class="day-of-week__item" id = "sunday">Chủ nhật</div>
            </div>
            <div class="edit-btn">
                <span>Chỉnh sửa</span>
                <div class="edit-form">
                    <div id = "form-item-area">

                    </div>
                </div>
                <div id="edit-item-template">
                    <label for="edit-time">Từ</label>
                    <select name="edit-time-start" id="edit-time-start">
                        
                    </select>
                    <label for="edit-time-end">Đến</label>
                    <select name="edit-time-end" id="edit-time-end">
                        
                    </select>
                </div>
            </div>

        </div>
    </div>
{% endblock %}