<div class="patient-wrapper__footer">
    <div class="show-page">
    </div>
    <div class="number-page-box">
    </div>
    <div class="direct-page-block">
        <!-- Button nhấn vào để tiến trang kế -->
        <button class="bttn back-btn" id = "back-btn" data-page-results = {{page_results}}>
            <!-- Kiểm tra có trang trước trang hiện tại không, nếu có thì direct tới trang đó, không thì disable -->
            {% if page_results.has_previous %}
                <a href="?page={{page_results.previous_page_number}}" class = "back-btn back-btn--active"><i class="fa-solid fa-chevron-left"></i></a>
            {% else %}
                <a href="#" class = "back-btn back-btn--disable"><i class="fa-solid fa-chevron-left"></i></a>
            {% endif %}
            <!-- trong href có thể sử dung if else để xuất url theo điều kiện -->
            <!-- <a href="?page={{page_results.page}}"></a> -->
        </button>
        
        <ul>
            {% for page_num in page_range %}
                <!-- Neu so trang hien tai trùng với số trang trong <li> thi se css trang trùng do len z (áp dung class active)
                    Số trang được xác định = page_obj.number, page_obj = paginator.get_page()-->
                <a class ="page-num {% if page_results.number == page_num %}active{% endif %}" href="?page={{page_num}}">{{page_num}}</a>
            {% endfor %}
        </ul>
        <div class = "bttn-wrapper" id = "next-btn--actived" data-page-results = {{page_results.number}}>
            {% if page_results.has_next %}
                <a href="?page={{page_results.next_page_number}}" class = "next-btn next-btn--active"><i class="fa-solid fa-chevron-right"></i></a>
            {% else %}
                <a href="#" class = "next-btn next-btn--disable"><i class="fa-solid fa-chevron-right"></i></a> 
            {% endif %}
        </div>
    </div>
</div>