{% extends 'app/base1.html'%}
{% load static %}
{% block main-register %}
<div class="register-form">
    <!-- <script>
      var previousUrl = document.referrer;
      $('#refer-url').on('click', function(){
        window.location.href = previousUrl;
      })
    </script> -->
    <h2>Đặt khám</h2>
    <img src="{{avatar}}" alt="">
    {{time}}
    <form id = "info-appointment" method="post" action = "{% url 'patient:save-appoint' %}" data-doctoc-id = {{doc.id}}>
      {% csrf_token %}

    {% if request.user.is_authenticated %}
      <div class="id-patient" data-id-patient = {{request.user.id}}> </div>
      <div>
        <input type="radio" id = "option_1" name = "type" class = "active-method" checked>
        <label for="option_1">Đặt cho bản thân</label>
        <input type="radio" id = "option_2" name = "type">
        <label for="option_2">Đặt cho người khác</label>
      </div>
      <script>
        $('#option_1').on('click', function(){
          $(this).addClass('active-method');
          $('#option_2').removeClass('active-method')
          $('.wrapper-select').hide();
        })
        $('#option_2').on('click', function(){
          $(this).addClass('active-method');
          $('#option_1').removeClass('active-method')
          $('.wrapper-select').show();
        })
      </script>
        <div class = "wrapper-select">
        {{ form.as_p }}
        </div>
        <div class="dauvao-nhom thanh-toan"><p class="tieude-nhom">Hình thức thanh toán</p>
          <label><input class="dauvao-nhap" type="radio" name="pay_type" value="1" checked="checked"> Thanh toán sau tại cơ sở y tế</label>
        </div>

    {% endif %}
      <p class="dauvao-ghichu chu-giua">Quý khách vui lòng điền đầy đủ thông tin để tiết kiệm thời gian làm thủ tục khám</p>
      <div class="dauvao-canhbao"><p style="text-align: justify; "><b>LƯU Ý</b></p>
        <p style="text-align: justify; ">Thông tin anh/chị cung cấp sẽ được sử dụng làm hồ sơ khám bệnh, khi điền thông tin anh/chị vui lòng:</p><ul>
          <li style="text-align: justify; ">Ghi rõ họ và tên, viết hoa những chữ cái đầu tiên, ví dụ:<b> Phan Hậu &nbsp;</b></li>
          <li style="text-align: justify; ">Điền đầy đủ, đúng và vui lòng kiểm tra lại thông tin trước khi ấn "Xác nhận đặt khám"</li></ul>
        </div>
        <input type="text" name = "doctor-id" value = {{doctor.id}} style="display:none">
        <input type="text" name = "time-frame" value = {{time}} style="display:none">
        <button type="submit">Xác nhận đặt khám</button>
  

    </form>
  </div>
  <script src = "{% static 'patient.js' %}"></script>
  <style>
    .dauvao-nhom {
      margin: 10px 0;
  }
  .tieude-nhom {
    color: #337ab7;
    font-weight: bold;
    font-size: 12px;
}
.dauvao-nhom label {
  color: #333;
}
input {
  font: 14px/1.5 'Montserrat', sans-serif;
  outline: none;
}
.chu-giua {
  text-align: center;
}
.dauvao-canhbao {
  background: #D4EFFC;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}
ul {
  margin: 10px 0px 10px 25px;
}
  </style>

{% endblock main-register %}
  