{% extends 'app/base1.html' %}
{% load static %}
{% block main-lienhe1 %}

<div class="baiviet-dau">
    <div class="vung-bao">
      <ul class="sodo">
        <li><a class="nha" href="{% url 'patient:home' %}"> 
          <img src="{% static 'app/images/QV1.png' %}">
        </a></li>
        <li>Thông tin bác sĩ</li>
      </ul>
    </div>
  </div>


  <div class="chuyenkhoakham">
    <div class="doctor-info">
      <img src="/media/{{data.avatar}}" alt="Logo">
      <h2><a href="{% url 'patient:BsCotsong1' %}"> Bác sĩ : {{data.real_name}}</h2>
      <p>Thông tin bác sĩ : {{data.real_name}}</p>
    </div>
    <div class="appointment-info">
      <h3>Lịch khám: </h3>
      <p>Địa chỉ khám: {{data.address}} </p>
     <p><a href="{% url 'patient:book_appointment1' %}">Giá khám: {{data.fee}} đ</a></p>
    </div>
  </div>

  <style>
      .chuyenkhoakham {
                  display: flex;
                  max-width: 1200px;
                  margin: 0 auto;
                  padding: 20px;
                }
                
                .doctor-info {
                  flex: 1;
                  padding: 20px;
                  background-color: #e6e6e6;
                }
                
                .appointment-info {
                  flex: 1;
                  padding: 20px;
                  background-color: #e6e6e6;
                }
                
                .doctor-info img {
                  width: 50px;
                  height: 50px;
                  border-radius: 60%;
                }
                
                h2, h3 {
                  margin-top: 0;
                }
                
                p {
                  margin: 10px 0;
                }
  </style>
{% endblock main-lienhe1 %}